.App {
  text-align: center;
  
}
.App-background {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  padding: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;

  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-2 {
  background-color: #282c34;
  /* min-height: 60vh; */
  /* display: flex; */
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 

}

.App-header-3 {
  background-color:  #20232b;
  /* min-height: 60vh; */
  /* display: flex; */
  /* display: flex; */
  /* flex-direction: column;  */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 

}

.image-upload-container {
  text-align: center;
  padding: 20px;
}


.divider {
  width: 100%;
  align-items: center;
  /* height: 1px;  */
  padding: 1.5% 0;
}

.divider-2 {
  width: 100%;
  align-items: center;
  /* height: 1px;  */
  padding: 0.5% 0;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
