
.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  
  .gallery::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  
 
  
  /* Hide scrollbar for Firefox */
  .gallery {
    scrollbar-width: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .gallery {
    -ms-overflow-style: none;
  }